/*-------------------------------------------------------
 Q&A
-------------------------------------------------------*/
.sec-faq-in {
	padding-bottom: 50px;
	color: #333333;
	.list-faq {
		border-bottom: 1px dotted #e4e4e4;
		line-height: 1.5;
		dt {
			position: relative;
			padding: 15px 0px;
			border-top: 1px dotted #e4e4e4;
			text-indent: -2em;
			padding-left: 2em;
			&:before {
				content: 'Q.';
				color: #0098d8;
				padding: 0 4px 0 0;
			}
			&:first-of-type {
				border-top: none;
			}
		}
		dd {
			text-indent: -2em;
			padding: 0 0 20px 2em;
			&:before {
				content: 'A.';
				color: #b70606;
				padding: 0 4px 0 0;
				line-height: 1;
			}
		}
	}
}

/*-------------------------------------------------------
 必須アイコン
-------------------------------------------------------*/
.required-icn {
	padding: 0 5px;
	margin-right: 5px;
	line-height: 20px;
	background-color: #ffeef4;
	text-align: center;
	font-size: 14px;
	font-size: 1.4rem;
	color: #e91e63;
	&.none {
		width: 38px;
		background: transparent;
		span {
			display: none;
		}
	}
}

/*-------------------------------------------------------
 Adobe Reader
-------------------------------------------------------*/
.modAdobeReader {
	margin: 0 auto;
	padding: 20px 25px;
    background: #eee;
    border: 1px solid #E6EBF0;
	dl {
		dt {
			margin-right: 2.205%;
			width: 158px;
			float: left;
		}
		dd {
			width: 73%;
			float: left;
			p {
				margin: 2px 0 0 0;
				padding: 0;
			}
		}
	}
}


/*-------------------------------------------------------
 パンくず
-------------------------------------------------------*/
.breadcrumbs {
	position: relative;
	background-image: -webkit-linear-gradient(left, #eee 0%, #eee 100%);
	background-image: linear-gradient(to right, #eee 0%, #eee 100%);
	&__list {
		display: inline-flex;
		overflow: hidden;
		box-sizing: border-box;
		max-width: 100%;
		margin: 0 auto;
		font-size: 0;
		white-space: nowrap;
		text-overflow: ellipsis;
		background-color: #eee;
		&__item {
			display: flex;
			position: relative;
			padding: 12px 22px;
			font-size: 1rem;
			line-height: 1;
			vertical-align: middle;
			> a {
				color: #333333;
			}
			&:first-child {
				padding-right: 26px;
				padding-left: 40px;
				background-color: #e5e5e5;
				&:before {
					content: '';
					display: inline-block;
					position: relative;
					top: -.1em;
					width: 14px;
					height: 12px;
					margin-right: 8px;
					vertical-align: middle;
					background-image: url(../../assets/img/layout/icn_home.svg);
					background-repeat: no-repeat;
					background-size: 100% 100%;
				}
				&:after {
					top: 0;
					right: 0;
					width: 0;
					height: 0;
					margin: 0;
					border-width: 18px 0 18px 15px;
					border-style: solid;
					border-color: #eee #eee #eee #e5e5e5;
				}
			}
			&:last-child > a {
				color: #2266aa;;
			}
			&:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 0;
				width: 1px;
				height: 10px;
				margin-top: -5px;
				background-color: #d4d4d4;
			}
		}
	}
}

@media only screen and (max-width: 640px) {
	.breadcrumbs {
		&__list {
			&__item {
				padding: 10px 15px;
				&:first-child {
					padding-left: 20px;
					&:after {
						border-width: 16px 0 16px 15px;
					}
				}
			}
		}
	}
}